AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=ap-southeast-1
S3_BUCKET_NAME=your-bucket-name
S3_USE_ACL=false
S3_USE_PRESIGNED_URL=true
S3_PRESIGNED_URL_EXPIRY=60
PORT=8080
